body{	
    background-image:url("../images/paño_verde.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    }

.lado{
	text-align:center;
	color:white;
	margin-top:50px;
	border:solid 1px white;
	height:350px;
}

h1{
	color:white;
	text-align:center;
}

table{
	width:100%;
	text-align:center;
	color:white;
	border:solid 1px white;
	overflow:scroll;
	margin:top:250px;
}

.carta{
	color:black;
	height:150px;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px auto;
	font-size:300%;
	}

.carta:hover{
	transform:translateY(-5px);
}

#mesa{
	text-align:center;
	margin-top:80px;
}